<div class="card-block">
  <%= render 'layouts/messages' %> 
</div>
<% if @crypto %>

  <div class="card card-header card-block">

    <strong>   Symbol: </strong> <%= @crypto.symbol.upcase %> &emsp;
    <strong>   Name: </strong> <%= @crypto.name.capitalize %> &emsp;
    <strong>   Type: </strong> <%= @crypto.investment_type %> &emsp;
    <strong>   Price: </strong> <%= @crypto.last_price %> 

      <%= link_to  'Track in Portfolio', user_invs_path(user:current_user, 
                                                   name: @crypto.name.capitalize, 
                                                   symbol:@crypto.symbol.upcase,
                                                   type:@crypto.investment_type,
                                                   price:@crypto.last_price
                                                   ),
                                    class: "btn btn-success ml-4", method: :post %> 


  </div>
<% end %>

<% if @stock %>

  <div class="card card-header card-block mt-4">
    <strong>   Symbol: </strong> <%= @stock.symbol.upcase %> &emsp;
    <strong>   Name: </strong> <%= @stock.name.capitalize %> &emsp;
    <strong>   Type: </strong> <%= @stock.investment_type %> &emsp;
    <strong>   Price: </strong> <%= @stock.last_price %> 


    <%= link_to  'Track in Portfolio', user_invs_path(user:current_user, 
                                                   name: @stock.name.capitalize, 
                                                   symbol:@stock.symbol.upcase,
                                                   type:@stock.investment_type,
                                                   price:@stock.last_price
                                                   ),
                                    class: "btn btn-success ml-4", method: :post %> 
  </div>
<% end %>