<h1>My Portfolio</h1>
<div class="search-area">
  <h3> Search Investments</h3>
  <%= form_tag search_investment_path, remote:true, method: :get do  %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :investment, params[:investment], 
                          placeholder: "Stock ticker symbol or Cryptocurrency symbol",
                          autofocus: true,
                          class: "form-control form-control-lg" %> 
      </div>
      <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success",data: {disable_with: "<i class='fa fa-spinner fa-spin fa-2x'></i>".html_safe} do %>
        <%= fa_icon 'search 2x' %> 
        <% end %> 

      </div>
    </div>
  <% end %>  
</div>
<div class ="shadow" id="results"> </div>

<% if !@tracked_investments.empty? %> 
  <%=  render 'investments/list' %>
<%end%>