<!DOCTYPE html>
<html>
  <head>
    <title>Stock Tracker Social Media App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'  %> 
    <div class="container">
    <%= render 'layouts/messages' %>
    </div>
    <div class="container mt-4"> 
    <%= yield %>
  </div>


  <footer id="sticky-footer" class="py-4 bg-dark text-white">
      <div class="container text-center">
        <small>Copyright &copy; <%=link_to "Bruno Kümmel",'https://www.brunokummel.dev', class: "text-white" %>  </small>
      </div>
    </footer>
  </body>
</html>
